<ion-view view-title="Boleto">
	<ion-content>

		<div class="item item-divider">
			Em aberto
		</div>

		<div class="item item-text-wrap boleto">
			<h1 class="white">R$390,00</h1>
			<h2 class="white">Vencimento 05 SET</h2>
			<h6 class="white"><b>FECHAMENTO EM 29 AGO</b></h6>
		</div>

		<div class="item item-divider">
			Pagos
		</div>

		<div class="row">
			<div class="col"><strong>R$54,00</strong></div>
			<div class="col col-70">Cardiologista</div>
			<div style="text-align: right; font-size: 12px; color: #585858;" class="col">03/06/16</div>
		</div>

		<div class="row">
			<div class="col"><strong>R$80,00</strong></div>
			<div class="col col-70">Nutróloga</div>
			<div style="text-align: right; font-size: 12px; color: #585858;" class="col">03/06/16</div>
		</div>

	</div>
</ion-content>
</ion-view>

