<ion-view view-title="Boleto">
	<ion-content>
		<div class="item item-text-wrap boleto">
			<h1 class="white">R$390,00</h1>
			<h2 class="white">Vencimento 05 SET</h2>
			<h6 class="white"><b>FECHAMENTO EM 29 AGO</b></h6>
		</div>

		<div class="item item-divider">
			Pagos
		</div>

		<a class="item" href="#/app/consultas-show-historico">
			<div class="row">
				<div class="col col-15"><strong>R$54,00</strong></div>
				<div class="col col-70">Consulta no cardiologista</div>
				<div style="text-align: right; font-size: 12px; color: #585858;" class="col col-15">03/06/16</div>
			</div>
		</a>

		<a class="item" href="#/app/consultas-show-historico">
			<div class="row">
				<div class="col col-15"><strong>R$80,00</strong></div>
				<div class="col col-70">Consulta na nutróloga</div>
				<div style="text-align: right; font-size: 12px; color: #585858;" class="col col-15">03/06/16</div>
			</div>
		</a>
	</div>
</ion-content>
</ion-view>

