<ion-view view-title="Consultas & Exames">
  <ion-content>
    <div class="item item-divider">
      Próximas
    </div>

    <div class="list">
      <a class="item" href="#/app/consultas-show">
        <strong>28/09 14:00</strong> - Consulta no ortopedista<br />
        <small style="color: #585858;">Dr. Pedro Paulo</small>
      </a>

      <a class="item" href="#/app/consultas-show">
        <strong>31/09 15:30</strong> - Retorno no cardiologista<br />
        <small style="color: #585858;">Dr. Mauro Dias</small>
      </a>

      <a class="item" href="#/app/consultas-show">
        <strong>01/10 9:00</strong> - Exame no laboratorio Maringá<br />
        <br />
      </a>

      <a class="item" href="#/app/consultas-show">
        <strong>02/11 14:00</strong> - Consulta no oftalmologista<br />
        <small style="color: #585858;">Dr. José Marco Polo</small>
      </a>

      <div class="item item-divider">
        Histórico
      </div>

      <a class="item" href="#/app/consultas-show-historico">
        <strong>20/09 10:00</strong> - Consulta no cardiologista<br />
        <small style="color: #585858;">Dr. José Marco Polo</small>
      </a>

      <a class="item" href="#/app/consultas-show-historico">
        <strong>03/06 14:00</strong> - Consulta na nutrologa<br />
        <small style="color: #585858;">Dr. Marta Suplicy</small>
      </a>
    </div>
  </ion-content>
</ion-view>
