<ion-view view-title="Consulta no ortopedista">
  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="../img/avatar.png">
        <h2>Consulta no cardiologista</h2>
        <h2>Dr. José Marco Polo</h2>
        <p>20/08/2016 14:00</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="../img/mapa-medico.png">
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        Foi solicitado um exame de sangue para mostrar no retorno do dia <strong>31/09</strong>
      </div>

      <div class="item item-text-wrap">
        Foi cobrado uma taxa de coparticipação <strong>R$ 30,00</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
