<ion-view view-title="Consultas & Exames">
  <ion-content>
    <div class="list">
      <a class="item button button-block button-balanced" style="text-align: center; font-weight: 500; padding: 6px; border-radius: 0; font-size: 18px;" href="#/app/consultas-show">
        <i class="ion-calendar"></i>
        <span style="margin-left: 3px;">Agendar consulta</span>
      </a>

      <div class="item item-divider">
        Próximas
      </div>

      <a class="item" href="#/app/consultas-show">
        <strong>28/09 14:00</strong> - Consulta no ortopedista<br />
        <small style="color: #585858;">Dr. Pedro Paulo</small>
      </a>

      <a class="item" href="#/app/consultas-show">
        <strong>28/10 16:30</strong> - Exame de sangue<br />
        <small style="color: #585858;">Laboratorio Maringá</small>
        <br />
      </a>

      <a class="item" href="#/app/consultas-show">
        <strong>31/09 15:30</strong> - Retorno no cardiologista<br />
        <small style="color: #585858;">Dr. Mauro Dias</small>
      </a>



      <a class="item" href="#/app/consultas-show">
        <strong>02/11 14:00</strong> - Consulta no oftalmologista<br />
        <small style="color: #585858;">Dr. José Marco Polo</small>
      </a>

      <div class="item item-divider">
        Histórico
      </div>

      <a class="item" href="#/app/consultas-show-historico">
        <strong>20/09 10:00</strong> - Consulta no cardiologista<br />
        <small style="color: #585858;">Dr. José Marco Polo</small>
      </a>

      <a class="item" href="#/app/consultas-show-historico">
        <strong>03/06 14:00</strong> - Consulta na nutrologa<br />
        <small style="color: #585858;">Dr. Marta Suplicy</small>
      </a>
    </div>
  </ion-content>
</ion-view>
