<ion-view view-title="Consulta no ortopedista">
  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="img/avatar.png">
        <h2>Consulta no ortopedista</h2>
        <h2>Dr. Pedro Paulo</h2>
        <p>02/11/2016 14:00</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/mapa-medico.png">
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer footer-a">
    <buttom class="title" style="color: red;">Cancelar consulta</buttom>
  </div>
</ion-view>
