<ion-view view-title="Detalhes">
  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="../img/ava1.png">
        <h2>Maria Elnice</h2>
        <p>Profissional com residência</p>
        <p>Título de especialista</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="../img/mapa-medico.png">
      </div>
    </div>

    <div class="list">
      <a class="item button button-block button-balanced" style="text-align: center; font-weight: 500; padding: 6px; border-radius: 0; font-size: 18px;" href="#/app/consulta-new">
        <i class="ion-calendar"></i>
        <span style="margin-left: 3px;">Agendar consulta</span>
      </a>
    </div>
  </ion-content>
</ion-view>
