<ion-view class="home-view" view-title="Unimed Maringá">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Você já se vacinou?<br>
        Participe da campanha contra a dengue!
      </div>
    </div>

    <ion-list>
      <ion-item href="#/app/consultas" class="main-menu-item a">
        Consultas & Exames
      </ion-item>
      <ion-item href="#/app/cartao-digital" class="main-menu-item b">
        Cartão Digital
      </ion-item>
      <ion-item href="#/app/boleto" class="main-menu-item c">
        Guia Médico
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
