<ion-view class="home-view" view-title="Unimed Maringá">
  <ion-content>

    <!-- <div><img class="full-image" src="../img/unimed.png"></div> -->

    <div class="card">
      <div class="item item-text-wrap">
        Você já se vacinou?<br>
        Participe da campanha contra a dengue!
      </div>
    </div>

    <div class="list list-inset fontHome">
      <a href="#/app/consultas" class="item item-icon-left">
        <i class="icon ion-ios-pulse-strong"></i> Consultas & Exames
      </a>
      <a href="#/app/guia-medico" class="item item-icon-left">
        <i class="icon ion-ios-paper-outline"></i> Serviços
      </a>
      <a href="#/app/cartao-digital" class="item item-icon-left">
        <i class="icon ion-card"></i> Cartão Digital
      </a>
      <a href="#/app/guia-medico" class="item item-icon-left">
        <i class="icon ion-ios-search-strong"></i> Guia Médico
      </a>
    </div>
  </ion-content>
</ion-view>
