/* Empty. Add your own CSS if you like */

.home-view {
  background-color: #4ece77;
}


/* MAIN MENU */

.main-menu-item .item-content {
  color: #fff;
  padding: 25px 20px;
}

.boleto {
	background: CornflowerBlue;
}

.white {
	color: white;
}

.fontHome {
	color: #8b969b;
}